/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    width: 30%;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.buy-ticket-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
